.navbar-default{
    background:  #ffc871;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
		    position: fixed; 
  	  	top: 0;
  	  	width: 100%;
}
.hello-msg{
  font-size: 18px;
  color: #fff;
  margin-right: 20px;
}


